GO_VERSION=1.26.1

APP_ENV=development
HTTP_ADDR=:8080

POSTGRES_HOST=gamidoc-backend-dev-pg
POSTGRES_PORT=5432
POSTGRES_DB=gamidoc
POSTGRES_USER=gamidoc
POSTGRES_PASSWORD=gamidoc

REDIS_HOST=gamidoc-backend-dev-redis
REDIS_PORT=6379

JWT_SECRET=dev-secret
JWT_EXPIRES_IN=24h

SESSION_TTL=48h
